<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include Bootstrap CSS for styling -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LectureLinker</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">LectureLinker</h1>
      <h2>Choose one or more courses:</h2>
      <div class="form-group">
        <form method="POST">
          <!-- Create a dropdown list of courses using data from the server -->
          <select id="courses" name="courses" class="form-control">
            <option value="{{active_selection}}" selected>
              {{active_selectio}}
            </option>
            {% for course in courses_list %}
            <option value="{{course.remove(active_selection)}}">
              {{course.remove(active_selection)}}
            </option>
            {% endfor %}
          </select>
          <br />
          <input type="hidden" name="course_selection" />
          <input type="submit" class="btn btn-primary" />
        </form>
      </div>
      <br />
      <h2>Add a website:</h2>
      <div class="form-group">
        <form method="POST">
          <div class="d-flex flex-row">
            <!-- Input fields for website name and URL -->
            <input
              name="display_name"
              type="text"
              class="form-control"
              placeholder="Website Name"
            />
            <input
              name="new_url"
              type="url"
              class="form-control"
              placeholder="URL"
            />
          </div>
          <br />
          <input type="submit" class="btn btn-primary" />
        </form>
      </div>
      <br />

      <!-- Create a table for displaying PDF files -->
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th>Filename</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          <!-- Iterate through PDF entries and display them in the table -->
          {% for entry in pdf_list %}
          <tr>
            <td>
              <!-- Checkbox for selecting PDF files -->
              <input
                type="checkbox"
                name="selected_files"
                value="{{ entry['link'] }}"
              />
            </td>
            <td>{{ entry['filename'] }}</td>

            <!-- Link to download the PDF file -->
            <td><a target="_blank" href="{{ entry['link'] }}">Link</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Button to trigger the download of selected files -->
      <button class="btn btn-primary" id="download-button">
        Download selection
      </button>
      <br /><br /><br /><br />
    </div>

    <!-- Include a JavaScript file for client-side functionality -->
    <script src="{{url_for('static', filename='main.js')}}"></script>
  </body>
</html>
