<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LectureLinker</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">LectureLinker</h1>
      <h2>Choose one or more courses:</h2>

      <!-- selection doesn't update the table - subject is hardcoded -->
      <div class="form-group">
        <form method="POST">
          <select id="courses" name="courses" class="form-control">
            {% for course in courses_list %}
              <option value={{course}}>{{course}}</option>
            {% endfor %}
          </select>
          <br />
          <input type="submit" class="btn btn-primary" />
        </form>
      </div>
      <br />
      <h2>Add a website:</h2>
      <div class="form-group">
        <form method="POST">
          <div class="d-flex flex-row">
            <input name="display_name" type="text" class="form-control" placeholder="Website Name">
            <input name="new_url" type="url" class="form-control" placeholder="URL">
          </div>
          <br />
          <input type="submit" class="btn btn-primary">
        </form>
        {% if show_alert %}
          <div class="alert alert-danger d-flex justify-content-between" role="alert" id="alert">
            <div>That URL is already on the list!</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="close_alert">close</button>
          </div>
        {% endif %}
      </div>
      <br />
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th>Filename</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in pdf_list %}
          <tr>
            <td>
              <input
                type="checkbox"
                name="selected_files"
                value="{{ entry }}"
              />
            </td>
            <td>{{ entry.rsplit('/', 1)[-1] }}</td>
            <td><a target="_blank" href="{{ entry }}">Link</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <button class="btn btn-primary" id="download-button">
        Download selection
      </button>
      <br /><br /><br /><br />
    </div>
    <script src="{{url_for('static', filename='main.js')}}"></script>
  </body>
</html>
